body {
    font-family: "Century Gothic";
}

.main {
    text-align: center;
    width: 300px;
    /*min-height: 150px;*/
    /*border: 2px solid red;*/
    /*background-color: rgba(198,202,200,0.34);*/
}

input {
    font-size: 13px;
    padding: 5px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

p {
    margin: 2px 2px;
}

button {
    float: left;
}

.check {
    float: right;
    margin-right: 10px;
    color: green;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
}

.del {
    float: right;
    font-size: 13px;
}

.del:hover {
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.todo {
    text-align: left;
    margin: 10px;
}

.clear {
    font-weight: bold;
}

.clear:hover {
    color: red;
    cursor: pointer;
}

/*.invisible {*/
    /*display: none;*/
/*}*/

.shadow {
    box-shadow: 0 0 7px red;
}

li:hover {
    background: rgba(198,202,200,0.24);
}

/*.newMetter {*/
    /*float: left;*/
/*}*/

/*.doneMetter {*/
    /*float: right;*/
/*}*/

